/************************************************************
TABLE OF CONTENTS
*************************************************************
1) GENERAL STYLING
2) HEADINGS
3) GALLERY THUMBNAILS & MY WORK
4) SOCIAL MEDIA
5) CONTACT FORM
6) MEDIA QUERIES
***********************************************************/

/*1) GENERAL STYLING*/

body, a, a:hover {
    color: rgb(174, 33, 66);
}

header {
    background-color: rgb(245, 247, 250);
    top: 0;
    z-index: 20;
    justify-content: space-between;
}

main {
    position: relative;
}

#messageForm {
    background-color: rgb(231, 204, 213);
}

#social {
    background-color: rgb(187, 203, 226);
}

.btn {
    border-radius: 0.5em;
    text-transform: uppercase;
    font-size: 1.125em;
    font-weight: 700;
    background-color: rgb(174, 33, 66);
    border: 2px solid rgb(174, 33, 66);
    color: rgb(245, 247, 250);
}


/*2) HEADINGS*/

h2 {
    text-transform: uppercase;
    font-size: 1.05rem;
    font-weight: 900;
}

#work h2 {
    font-size: 1.3em;
}

.project h3 {
    text-align: center;
}

/*3) GALLERY THUMBNAILS & MY WORK*/

#gallery {
    margin-bottom: 3em;
}

.img-container img {
    transform: scale(1);
    transition: all 200ms linear;
}
.img-container img:hover {
    cursor: pointer;
    transform: scale(1.15);
    background-color: rgba(174, 33, 66, 0.7);
    transition: all 200ms linear;
}

/* PROJECT VIEW */
.project-name {
    font-weight: 700;
}
.project {
    padding: 2.5em 0;
}

.project:nth-child(odd) {
    background-color: rgba(81, 141, 191, 0.2);
}

.project-anchor {
    position: relative;
    top: -3em;
}

.btn:hover {
    background-color: rgb(245, 247, 250);
    color: rgb(174, 33, 66);
    text-decoration: underline;
}

.btn:active {
    background-color: rgb(81, 141, 191);
    border: 0px;
    color: rgb(245, 247, 250);
}

.description {
    flex: 2 1 auto;
    font-weight: 500;
    color: rgb(64, 64, 64);
    margin: 0;
}

.description a {
    font-weight: 700;
}

/* PROJECT - TECHNOLOGY LIST */
.technology {
    font-weight: 700;
    flex: 2 1 auto;
    margin: 0 0 1em 0;
}

.technology {
    list-style: none;
    padding: 0;
    color: rgb(64, 64, 64);
}

.technology li {
    display: inline-block;
}

.technology li::after {
    content: ", ";
}

.technology li:last-child::after {
    content: unset;
}

/*4) SOCIAL MEDIA*/

#social ul {
    padding: 0;
    list-style: none;
}

.contact-text {
    font-size: 0em;
}

#social a {
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(64, 64, 64);
}

#social .fab {
    /* SIZING SOCIAL ICON FONT AWESOME */
    font-size: 2em;
}

#social span, #social li {
    vertical-align: middle;
}

/*5) CONTACT FORM*/
#email-input, #name-input, #message {
    color: rgb(174, 33, 66);
    border: 0;
    background-color: rgb(245, 247, 250);
}

#email-input:focus, #name-input:focus, #message:focus {
    background-color: rgb(165, 227, 251);
}

#feedback {
    color: rgb(174, 33, 66);
    font-weight: 700;
    position: relative;
}

form label {
    position: absolute;
    font-style: italic;
    font-weight: 300;
    font-size: 0.9em;
    z-index: 10;
}


/*6) MEDIA QUERIES*/
/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    #contact .fab {
        font-size: 3em;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #contact .fab {
        font-size: 4em;
    }
    .project h3 {
        text-align: left;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #contact .fab {
        font-size: 3em;
    }
    .contact-text {
        display: inline-block;
        font-weight: 500;
        font-size: 0.9em;
    }
    #contact li:hover .contact-text {
        text-decoration: underline;
        font-weight: 700;
    }
    
}
